/src/apsys.dynamic.filters/obj
/src/apsys.dynamic.filters/bin
/src/apsys.heartbeat/obj
/src/apsys.heartbeat/bin
/src/apsys.heartbeat.migrations/obj
/src/apsys.heartbeat.migrations/bin
/src/apsys.heartbeat.repositories/obj
/src/apsys.heartbeat.repositories/bin
/src/apsys.heartbeat.repositories.nhibernate/obj
/src/apsys.heartbeat.repositories.nhibernate/bin
/src/apsys.heartbeat.repositories.nhibernate.testing/obj
/src/apsys.heartbeat.repositories.nhibernate.testing/bin
/src/apsys.heartbeat.scenarios/obj
/src/apsys.heartbeat.scenarios/bin
/src/apsys.heartbeat.services/obj
/src/apsys.heartbeat.services/bin
/src/apsys.heartbeat.services.testing/obj
/src/apsys.heartbeat.services.testing/bin
/src/apsys.heartbeat.testing/obj
/src/apsys.heartbeat.testing/bin
/src/apsys.heartbeat.webapi/obj
/src/apsys.heartbeat.webapi/bin
/src/apsys.heartbeat.webapi.testing/obj
/src/apsys.heartbeat.webapi.testing/bin
/src/apsys.ndbunit.netcore/obj
/src/apsys.ndbunit.netcore/bin
/src/.vs
